@charset "UTF-8";
@import 'nouislider.min.css';
@font-face {
  font-family: "Cera Pro";
  src: local("../fonts/Cera Pro Regular"), local("../fonts/Cera-Pro-Regular"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: local("../fonts/Cera Pro Medium"), local("../fonts/Cera-Pro-Medium"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: local("../fonts/Cera Pro Bold"), local("../fonts/Cera-Pro-Bold"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: local("../fonts/Cera Pro Black"), local("../fonts/Cera-Pro-Black"), url("../fonts/CeraPro-Black.woff2") format("woff2"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Hanged-Letters";
  src: url("../fonts/Hanged-Letters.eot");
  src: local("☺"), url("../fonts/Hanged-Letters.woff") format("woff"), url("../fonts/Hanged-Letters.ttf") format("truetype"), url("../fonts/Hanged-Letters.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Cera Pro";
  font-size: 14px;
  line-height: 157%;
  color: #727272;
  font-weight: 400;
  background-color: #fff;
}

body {
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overlay, .sidebar-overlay {
  display: none;
}

.header {
  padding-top: 8px;
}
.header__logo {
  max-width: 150px;
}
.header__logo-nav {
  display: none;
}
.header .logo-img {
  max-width: 100%;
}
.header-wrap {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
.header__nav {
  padding-right: 28px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__item {
  padding: 0 25px;
}
.header__link {
  position: relative;
  display: block;
  padding: 25px 0;
  font-size: 16px;
  line-height: 125.7%;
  color: #3D3D3D;
}
.header__link::after {
  position: absolute;
  content: " ";
  left: 0;
  top: 67px;
  width: 100%;
  height: 3px;
  background-color: rgba(70, 163, 88, 0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__link-active {
  font-weight: 700;
}
.header__link-active::after, .header__link:hover::after {
  background-color: #46a358;
}

.burger {
  display: none;
}

.adminpanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.adminpanel__search-input {
  display: block;
  position: absolute;
  left: -175px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  padding: 10px;
}
.adminpanel__search-input-active {
  opacity: 1;
}
.adminpanel__input-burger, .adminpanel__search-input {
  background-color: #FBFBFB;
  border-radius: 6px;
  font-family: "Cera Pro";
  font-size: 14px;
  line-height: 157%;
  color: #3D3D3D;
}
.adminpanel__input-burger {
  width: 100%;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #46A358;
}
.adminpanel__basket {
  position: relative;
}
.adminpanel__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.adminpanel__search-burger {
  display: none;
}
.adminpanel__button, .adminpanel .basket-link, .adminpanel__button-burger {
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  color: #3D3D3D;
}
.adminpanel__button:hover, .adminpanel__button .basket-link:hover, .adminpanel .basket-link:hover, .adminpanel .basket-link .basket-link:hover, .adminpanel__button-burger:hover, .adminpanel__button-burger .basket-link:hover {
  color: #46A358;
}

.number-orders {
  position: absolute;
  top: 2px;
  right: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 16px;
  padding: 0 2px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 130%;
  font-weight: 500;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #46A358;
  border: 2px solid #FFFFFF;
}

.login-button {
  width: 100px;
  padding: 8px 0 7px 41px;
  background: url(../img/logout.svg) no-repeat 18.8px 50%;
  font-size: 16px;
  line-height: 126%;
  font-weight: 500;
}

.button {
  background-color: #46A358;
  border-radius: 6px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #3d8c4c;
}

.adminpanel > *:not(:first-child) {
  margin-left: 30px;
}

.slider {
  margin-top: 12px;
}
.slider__wrap {
  background-color: #FBFBFB;
  padding-left: 40px;
}
.slider__velcome {
  font-weight: 500;
  line-height: 114%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.slider__title {
  font-size: 70px;
  line-height: 100%;
  font-weight: 900;
  color: #3D3D3D;
  text-transform: uppercase;
  margin-top: 7px;
}
.slider__text {
  margin-top: 5px;
  line-height: 171%;
}
.slider__button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  width: 140px;
  padding: 11px 5px 9px 5px;
  text-align: center;
  margin-top: 44px;
}
.slider__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.41666%;
          flex: 0 1 46.41666%;
  padding: 68px 0 85px 0;
}
.slider__foto {
  position: relative;
  max-width: 518px;
}
.slider__big-img {
  width: 100%;
}
.slider__top {
  position: relative;
}

.slick-dots {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: 17px;
  left: 0;
  line-height: 0;
}

.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 4px 0 4px;
}

.slick-dots button {
  display: block;
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(70, 163, 88, 0.3);
  border: none;
  padding: 0;
  cursor: pointer;
}

.slick-active button {
  background: #46a358;
}

.color-word {
  color: #46A358;
}

.slider__item[data-slick-index="1"] .color-word {
  color: #6254d9;
}

.slider__item[data-slick-index="1"] .button {
  background-color: #6254d9;
}
.slider__item[data-slick-index="1"] .button:hover {
  background-color: #4b40a9;
}

.slider__item[data-slick-index="2"] .color-word {
  color: #ffbc00;
}

.slider__item[data-slick-index="2"] .button {
  background-color: #ffbc00;
}
.slider__item[data-slick-index="2"] .button:hover {
  background-color: #c9930e;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conditions__title {
  font-size: 18px;
  line-height: 88.88888%;
  color: #3D3D3D;
}
.conditions__list {
  padding: 0 0 0 12px;
  margin-top: 11px;
}
.conditions__link {
  padding: 6px 0;
}
.conditions__link:hover {
  color: #46A358;
}
.conditions__item {
  margin: 10px 0;
}
.conditions-position {
  margin-top: 48px;
}

/*--форма расчета--*/
.price-range {
  margin-top: 36px;
}
.price-range__main {
  margin: 29px 0 21px 0;
  max-width: 209px;
}
.price-range__form {
  margin-left: 10px;
}
.price-range__label {
  color: #46A358;
  font-weight: 700;
  font-size: 15px;
}

.price-range__button, .filters-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  padding: 8px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Cera Pro";
  border: none;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  margin-top: 16px;
}

.filters-sidebar {
  margin-top: 0;
  display: none;
}

/*--Стилизация price-range слайдера--*/
.noUi-target {
  background-color: rgba(70, 163, 88, 0.2);
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 4px;
}

.noUi-connect {
  background-color: #46A358;
}

.noUi-handle {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 100%;
  border: 3px solid #fff;
  background-color: #46A358;
}

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  top: -8px;
}

.noUi-handle::after, .noUi-handle::before {
  display: none;
}

.baner {
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(70, 163, 88, 0.1)), to(rgba(70, 163, 88, 0.03)));
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
}
.baner__super-sale {
  font-family: "Hanged-Letters";
  font-size: 65px;
  line-height: 100%;
  color: #46A358;
  text-align: center;
  padding-top: 18px;
}
.baner__text {
  text-align: center;
  font-size: 23px;
  line-height: 70%;
  text-transform: uppercase;
  font-weight: 700;
  color: #3D3D3D;
  margin-top: 11px;
}
.baner__flower {
  position: relative;
  padding: 0 0 120% 0;
  overflow: hidden;
}
.baner .flower__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.baner__circle {
  position: absolute;
  content: "";
  border-radius: 50%;
  background: linear-gradient(145.46deg, rgba(70, 163, 88, 0.3) -46.09%, rgba(70, 163, 88, 0) 103.28%);
}
.baner__item1 {
  width: 15px;
  height: 15px;
  top: 22.33%;
  left: 12.26%;
}
.baner__item2 {
  width: 45px;
  height: 45px;
  bottom: 17.45%;
  right: 5.48%;
}
.baner__item3 {
  width: 22px;
  height: 22px;
  border: 2px solid rgba(70, 163, 88, 0.2);
  bottom: 31.7%;
  left: 5.16%;
  background: none;
  border-radius: 7px;
}

.main {
  margin: 46px 0 0 0;
}
.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__page {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 74.16666%;
          flex: 0 1 74.16666%;
  padding-left: 50px;
}
.main__all-plants__item:not(:first-child) {
  margin-left: 40px;
}
.main__sorting {
  color: #3D3D3D;
  font-size: 15px;
  line-height: 106%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__cards-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.main__sorting-text {
  display: inline-block;
}
.main__sorting-item {
  display: inline-block;
  position: relative;
}
.main-sorting__link, .main .sorting__link {
  display: block;
  width: 100%;
}
.main__sidebar {
  padding: 14px 24px 19px 18px;
}
.main__next-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.main__sidebar-wrap {
  width: 100%;
  background-color: #FBFBFB;
}

.sidebar__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25.83333%;
          flex: 0 1 25.83333%;
}

.sorting__link {
  padding: 3px 0;
}

/*--общий стиль для темного пункта с размером 15px--*/
.dark-text-style {
  color: #3D3D3D;
  font-size: 15px;
  line-height: 106%;
}

.main-sorting__link:hover, .sorting__link:hover {
  color: #46A358;
  cursor: pointer;
}

.sorting__list {
  display: none;
  position: absolute;
  width: 100%;
  top: -80px;
  left: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.05);
  padding: 3px;
  z-index: 10;
}

.show-sorting {
  display: block;
}

.arrow-sorting {
  display: inline-block;
}

.arrow-sorting-move {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.all-plants__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.all-plants__item:not(:first-child) {
  margin-left: 40px;
}
.all-plants__link {
  position: relative;
}
.all-plants__link::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -7px;
  background-color: rgba(70, 163, 88, 0);
}
.all-plants__link:hover {
  color: #46A358;
}
.all-plants__link:hover::after {
  background-color: #46a358;
}

/*--общий стиль для зеленого жирного активного пункта--*/
.link-active {
  font-weight: 700;
  color: #46A358;
}
.link-active::after {
  background-color: #46a358;
}

.card {
  position: relative;
  border-top: 1px solid rgba(70, 163, 88, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-wrapper {
  padding: 0 15px;
  margin: 35px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333334%;
          flex: 0 1 33.33333334%;
}
.card__foto {
  display: block;
  position: relative;
  padding: 0 0 104% 0;
  overflow: hidden;
}
.card__foto-wrap {
  position: relative;
  background-color: #FBFBFB;
  padding: 5px 0 25px 0;
}
.card__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
  height: 100%;
}
.card__flower-name {
  font-size: 16px;
  line-height: 100%;
  color: #3D3D3D;
  margin-top: 12px;
}
.card__flower-price {
  display: block;
  font-size: 18px;
  line-height: 88.8888%;
  font-weight: 700;
  margin-top: 6px;
  color: #46A358;
}
.card__badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.card__badge-wrap {
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.card__badge__link {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #3D3D3D;
}
.card__badge__link:not(:first-child) {
  margin-left: 3.86%;
}
.card__badge__link:hover {
  color: #46A358;
}
.card:hover {
  border-top: 1px solid #46a358;
}

.card:hover .card__badge-wrap {
  opacity: 1;
}

.card-sale::before {
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 0;
  content: "13% OFF";
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  padding: 8px;
  background-color: #46A358;
}

.actual-price {
  padding-right: 16px;
}

.old-price-style {
  font-weight: 400;
  color: #A5A5A5;
}

.next-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
}
.next-page__item {
  margin: 0 5px;
}
.next-page__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 18px;
  line-height: 88.9%;
  color: #3D3D3D;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}
.next-page__link-active, .next-page__link:hover {
  background-color: #46A358;
  color: #fff;
  font-weight: 700;
  border: none;
}

.more__cards {
  margin: 100px -14px 0 -14px;
}
.more__item {
  background-color: #FBFBFB;
  height: 100%;
}
.more__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50.5%;
          flex: 0 1 50.5%;
  text-align: right;
  padding: 37px 30px 37px 0;
}
.more__flower {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49.5%;
          flex: 0 1 49.5%;
  position: relative;
  margin-top: -60px;
}
.more__img {
  max-width: 100%;
}
.more__title {
  font-size: 18px;
  line-height: 133.3%;
  color: #3D3D3D;
  font-weight: 900;
  text-transform: uppercase;
}
.more__text {
  margin-top: 10px;
  line-height: 171%;
}
.more__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 28px;
  min-height: 40px;
  margin-top: 20px;
}
.more__arrow-right {
  padding-left: 5px;
}
.more__circle-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 14px;
  padding-top: 60px;
  overflow: hidden;
  position: relative;
}
.more__circle-wrap::before {
  position: absolute;
  content: "";
  bottom: -175px;
  left: -175px;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: 1px solid #46A358;
}
.more__circle-wrap::after {
  position: absolute;
  content: "";
  bottom: -183px;
  left: -165px;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: 2px solid #46A358;
}

.our-blog {
  padding: 138px 0 80px 0;
}
.our-blog__title {
  font-size: 30px;
  line-height: 53.333%;
  font-weight: 700;
  color: #3D3D3D;
  text-align: center;
}
.our-blog__title-descr {
  margin-top: 15px;
  text-align: center;
}
.our-blog__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px -15px 0 -15px;
  overflow: hidden;
}

.blog-post {
  padding: 0 22px;
  margin: 20px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-post__img-wrap {
  display: block;
  position: relative;
  padding: 0 0 74% 0;
}
.blog-post__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.blog-post__readin::before {
  content: "|";
}
.blog-post__date-wrap {
  color: #46A358;
  font-weight: 500;
  line-height: 114%;
}
.blog-post__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: #3D3D3D;
}
.blog-post__content-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 9px 15px 8px 15px;
  background-color: #FBFBFB;
}
.blog-post__content-wrap > *:not(:first-child) {
  margin-top: 4px;
}
.blog-post__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3D3D3D;
  font-weight: 500;
  line-height: 114%;
}
.blog-post__link:hover {
  color: #46A358;
}
.blog-post__right-arrow {
  margin-left: 4px;
  padding-top: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-post__link:hover .blog-post__right-arrow {
  margin-left: 8px;
}

.footer__care {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 23px 0;
  background-color: #FBFBFB;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 9px 0;
  background: rgba(70, 163, 88, 0.1);
}
.footer__contacts > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 27px 10px 0;
}
.footer__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 27px 0;
  background-color: #FBFBFB;
}
.footer__title {
  font-size: 18px;
  line-height: 94%;
  font-weight: 700;
  color: #3D3D3D;
}

.footer__logo {
  padding-left: 26px;
}

.contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21.41666%;
          flex: 0 1 21.41666%;
}
.contacts__text {
  padding-left: 11px;
  color: #3D3D3D;
}
.contacts__phone {
  padding: 0 25px 0 35px;
}

.care__item {
  padding: 15px 27px 0 26px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21.41666%;
          flex: 0 1 21.41666%;
}
.care__item:not(:first-child) {
  border-left: 1px solid rgba(70, 163, 88, 0.1);
}
.care__title {
  font-size: 17px;
  margin-top: 15px;
}
.care__content {
  margin-top: 9px;
}
.care__img-wrap {
  position: relative;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.care__img-wrap::before {
  position: absolute;
  left: -13px;
  bottom: -3px;
  content: "";
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: rgba(70, 163, 88, 0.13);
}

.newsletters {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35.75%;
          flex: 0 1 35.75%;
  padding: 27px 25px 0 36px;
}
.newsletters__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}
.newsletters__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Cera Pro";
  font-size: 14px;
  line-height: 114%;
  font-weight: 400;
  color: #ACACAC;
  min-height: 40px;
  padding: 12px 11px 12px 11px;
  background: #fff;
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.newsletters__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 40px;
  padding: 5px 25px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 89%;
  border-radius: 0 6px 6px 0;
}
.newsletters__content {
  font-size: 13px;
  line-height: 169%;
}
.newsletters > *:not(:first-child) {
  margin-top: 18px;
}

.categories {
  padding: 17px 27px 0 26px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21.41666%;
          flex: 0 1 21.41666%;
}
.categories__list {
  margin-top: 8px;
}
.categories__item {
  margin: 6px 0;
}
.categories__link {
  color: #727272;
  padding: 6px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.categories__link:hover {
  font-weight: 700;
  color: #46A358;
}

.media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35.75%;
          flex: 0 1 35.75%;
  padding: 17px 25px 0 36px;
}
.media__we-accept {
  margin-top: 33px;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
.social__item:not(:first-child) {
  margin-left: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: rgba(70, 163, 88, 0.6);
}
.social__link:hover {
  color: #46A358;
  border: 1px solid #46a358;
}

.we-accept__credit-cards {
  margin-top: 13px;
  max-width: 224px;
  max-height: 26px;
}
.we-accept__img {
  width: 100%;
}

.footer__allrights {
  padding: 7px 0 13px 0;
}

.allrights__content {
  line-height: 214%;
  color: #3D3D3D;
  text-align: center;
}

@media screen and (max-width: 1090px) {
  .header__nav {
    padding-right: 60px;
  }

  .header__item {
    padding: 0 15px;
  }

  .card-sale::before {
    font-size: 14px;
    padding: 6px;
  }
}
@media screen and (max-width: 1024px) {
  .header-wrap {
    padding: 25px 0;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
  .header .adminpanel {
    padding-left: 100px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
  .header .overlay, .header__nav {
    position: fixed;
    top: 0;
    left: -300%;
    height: 100%;
    z-index: 12;
    padding: 0;
  }
  .header .overlay {
    width: 100%;
    overflow: hidden;
    background: rgba(61, 61, 61, 0.5);
  }
  .header .overlay.active {
    display: block;
    left: 0;
  }
  .header__nav {
    width: 50%;
    overflow-y: auto;
    min-width: 300px;
    padding: 29px 10px;
    background-color: #FBFBFB;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header__nav.active {
    height: 120%;
    left: 0;
  }
  .header .header__logo-nav {
    display: block;
    padding-bottom: 28px;
    border-bottom: 2px solid rgba(70, 163, 88, 0.5);
  }
  .header__list {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid rgba(70, 163, 88, 0.5);
  }
  .header__link {
    color: #3d8c4c;
    display: block;
    padding: 15px 10px;
    font-size: 20px;
  }
  .header__link:hover {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.05);
    font-weight: 700;
  }
  .header__link::after {
    display: none;
  }
  .header__item {
    width: 100%;
  }

  .burger {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: inline-block;
    width: 35px;
    height: 29px;
    position: relative;
    z-index: 30;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger span {
    background-color: #46A358;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 13px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::after, .burger::before {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #46A358;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::after {
    bottom: 0;
  }
  .burger::before {
    top: 0;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 15px;
  }

  .next-page__list {
    margin-top: 35px;
  }

  .all-plants__item:not(:first-child) {
    margin-left: 25px;
  }

  .main__page {
    padding-left: 20px;
  }

  .more__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }

  .card__badge__link {
    width: 25px;
    height: 25px;
  }

  .more__circle-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .our-blog {
    padding: 90px 0 50px;
  }

  .blog-post {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-top: 20px;
  }

  .care__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }

  .newsletters {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .contacts {
    padding: 10px 27px 10px 27px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .categories {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .media {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .social__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .we-accept__credit-cards {
    margin: 13px auto 0 auto;
  }

  .slider__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header .adminpanel {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    padding-left: 0;
  }
  .header .adminpanel__search {
    display: none;
  }
  .header .adminpanel__search-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 38px;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .adminpanel > *:not(:first-child) {
    margin-left: 15px;
  }

  .burger {
    margin-left: 15px;
  }

  .login-button {
    height: 35px;
    width: 35px;
    padding: 0 15px;
    background: url(../img/logout.svg) no-repeat 50% 50%;
    background-color: #46A358;
  }
  .login-button span {
    display: none;
  }

  .slider__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .slider__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 30px 15px;
  }
  .slider__title {
    font-size: 45px;
  }
  .slider__button {
    margin-top: 20px;
  }

  .sidebar__wrap, .sidebar-overlay {
    position: fixed;
    left: -200%;
    top: 0;
    height: 100%;
    z-index: 30;
  }

  .sidebar__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    min-width: 280px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  .sidebar__wrap.active {
    left: 0;
  }

  .sidebar-overlay {
    width: 100%;
    overflow: hidden;
    background: rgba(61, 61, 61, 0.5);
  }
  .sidebar-overlay.active {
    display: block;
    left: 0;
  }

  .sidebar__wrap-close {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 35px;
    background-color: red;
    z-index: 50;
  }
  .sidebar__wrap-close::after, .sidebar__wrap-close::before {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #FFF;
  }
  .sidebar__wrap-close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 16px;
  }
  .sidebar__wrap-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 16px;
  }

  .main__sidebar-wrap {
    overflow: auto;
  }

  .main__page {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .main__sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .card-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 20px 0;
  }

  .more__cards {
    margin: 20px 0 0 0;
  }
  .more__circle-wrap {
    margin: 0 15px;
    width: 100%;
    padding-top: 30px;
  }
  .more__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .more__content {
    text-align: center;
    padding: 20px 20px;
  }
  .more__flower {
    margin-top: 15px;
  }
  .more__content br {
    display: none;
  }

  .blog-post {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
    margin: 10px 0;
  }

  .our-blog__posts {
    margin: 15px 0 0 0;
  }

  .care__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 15px 15px 0 15px;
    text-align: center;
  }
  .care__img-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .care__img-wrap::before {
    left: 40%;
  }

  .newsletters {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 27px 15px 0 15px;
  }
  .newsletters__form {
    max-width: 450px;
  }

  .contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 10px 15px;
  }

  .categories {
    padding: 17px 8px 0 8px;
  }

  .filters-sidebar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .navs-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .all-plants {
    padding-top: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media screen and (max-width: 460px) {
  .header__nav {
    width: 100%;
  }
}
@media screen and (max-width: 424px) {
  .categories {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .slider__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 424px) and (max-width: 374px) {
  .card-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }

  .main__cards-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card-sale::before {
    font-size: 16px;
    padding: 8px;
  }

  .care__img-wrap::before {
    left: 38%;
  }
}