$main-color-text: #282728;
@mixin fl {
	display: flex;
	align-items: center;
	justify-content: center;
}
@font-face {
	font-family: "UniNeue";
	src: url("../fonts/UniNeueBold.eot");
	src: local("☺"), url("../fonts/UniNeueBold.woff") format("woff"), url("../fonts/UniNeueBold.ttf") format("truetype"),
		url("../fonts/UniNeueBold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "UniNeue";
	src: url("../fonts/UniNeueRegular.eot");
	src: local("☺"), url("../fonts/UniNeueRegular.woff") format("woff"),
		url("../fonts/UniNeueRegular.ttf") format("truetype"), url("../fonts/UniNeueRegular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "UniNeueBook";
	src: url("../fonts/UniNeueBook.eot");
	src: local("☺"), url("../fonts/UniNeueBook.woff") format("woff"), url("../fonts/UniNeueBook.ttf") format("truetype"),
		url("../fonts/UniNeueBook.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "UniNeue";
	src: url("../fonts/UniNeueHeavy.eot");
	src: local("☺"), url("../fonts/UniNeueHeavy.woff") format("woff"),
		url("../fonts/UniNeueHeavy.ttf") format("truetype"), url("../fonts/UniNeueHeavy.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
html {
	font-size: 1vw;
}
body {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: "UniNeue", sans-serif;
	line-height: 120%;
	font-weight: 400;
	color: $main-color-text;
}
.container {
	max-width: 83.3333rem;
	padding: 0 0.78rem;
	margin: 0 auto;
}
.header {
	background: url(../img/bgm.png) no-repeat center;
	background-size: cover;
	padding: 2rem 0 5.31rem 0;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& > * {
			margin: 0.6rem 0;
		}
	}

	&__top-slogan {
		width: 16.92rem;
		font-size: 0.94rem;
		padding-left: 1.82rem;
	}

	&__top-where {
		@include fl;
	}

	&__top-map {
		width: 3.96rem;
		height: auto;
	}

	&__top-address {
		font-size: 0.8333rem;
		line-height: 130%;
		padding-left: 1.04rem;
	}

	&__top-consultation {
		font-size: 0.8333rem;
		padding: 1.56rem;
		background-color: #313d4b;
	}

	&__top-contacts {
	}

	&__top-tel {
		@include fl;
	}

	&__top-number {
		font-size: 1.15rem;
		color: inherit;
	}

	&__social {
		@include fl;
		margin-top: 0.52rem;
	}

	&__social-item {
		&:not(:first-child) {
			margin-left: 0.52rem;
		}
	}

	&__social-link {
		@include fl;
		width: 2.6rem;
		height: 2.6rem;
		border-radius: 50%;
	}
	.vb-bg {
		background-color: #7460f3;
	}
	.tg-bg {
		background-color: #00a2f2;
	}
	.wh-bg {
		background-color: #25d266;
	}
	&__nav {
		margin: 1.9rem -0.78rem 0 -0.78rem;
	}

	&__nav-item {
	}

	&__nav-link {
		font-size: 0.8333rem;
		color: inherit;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0.6rem 0.78rem;
		letter-spacing: 0.05rem;
	}

	&__content {
		margin-top: 5rem;
		width: 45.3rem;
	}

	&__title {
		font-size: 3.125rem;
		line-height: 113%;
		font-family: "UniNeueBook", sans-serif;
		font-weight: 300;
	}

	&__content-wrap {
		display: flex;
		justify-content: space-between;
		margin-top: 3.8rem;
	}

	&__content-advantage {
		display: flex;
		align-items: flex-start;
		position: relative;
		padding: 0.89rem 0 0.89rem 1.67rem;
		&:not(:last-child) {
			padding-right: 2.5rem;
		}
		&:nth-child(1) {
			flex: 0 1 19.1rem;
		}
		&:nth-child(2) {
			flex: 0 1 14.43rem;
		}
		&:nth-child(3) {
			flex: 0 1 11.77rem;
		}
		&::before {
			content: "";
			position: absolute;
			width: 1.5rem;
			height: 0.3rem;
			left: 0;
			top: 1rem;
			transform: rotate(-45deg);
			background-color: #fe5851;
		}
	}

	&__content-years {
		font-size: 3.75rem;
		line-height: 3.2rem;
	}

	&__content-text {
		font-family: "UniNeueBook", sans-serif;
		font-weight: 300;
		font-size: 1.04rem;
	}

	&__content-tools {
		display: flex;
		justify-content: space-between;
		margin-top: 2.76rem;
	}

	&__calc {
		@include fl;
		flex-direction: column;
	}

	&__calc-subtitle {
		font-size: 0.94rem;
		line-height: 156%;
	}

	&__calc-btn {
		margin-top: 1.25rem;
		background: linear-gradient(to bottom, rgba(254, 116, 79, 1) 0%, rgba(254, 80, 79, 1) 99%);
		padding: 1.56rem 2.86rem 1.56rem 2.34rem;
		font-size: 0.89rem;
		line-height: 140%;
		text-transform: uppercase;
	}

	&__calc-text {
		padding-left: 0.78rem;
		text-align: start;
	}

	&__content-slider {
		width: 20rem;
		padding-top: 2.4rem;
	}

	&__slider-subtitle {
		text-align: center;
		font-size: 0.885rem;
		font-weight: 700;
	}

	&__slider {
		min-width: 0;
		position: relative;
		padding: 0 1.3rem;
		margin-top: 1.04rem;
		& .slick-arrow {
			position: absolute;
			top: 35%;
			z-index: 10;
			font-size: 0;
			width: 0.85rem;
			height: 1.7rem;
			border: none;
			cursor: pointer;

			&.slick-prev {
				left: 0;
				background: url(../img/leftarrow.png) center / cover no-repeat;
			}
			&.slick-next {
				right: 0;
				background: url(../img/rightarrow.png) center / cover no-repeat;
			}
		}
	}
	//Настройка Slick-slider
	.slick-track {
		display: flex;
	}
	.slick-list {
		overflow: hidden;
	}

	&__slider-item {
		width: 4.17rem;
		padding: 0 0.625rem;
	}
}
.container {
}
.logo {
	width: 9.74rem;
	&-content {
		display: flex;
	}
}
.logo-img {
	width: 100%;
}
.heavy-text {
	font-weight: 900;
}
.map-img {
	width: 100%;
	border: 0.052rem solid #d9d9d9;
	border-radius: 50%;
}
.social-img {
	width: 1vw;
}
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-weight: 700;
	border-radius: 0.42rem;
}
.tel-img {
	width: 0.8333rem;
}
.hader {
	&__nav-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.bold-text {
	font-family: "UniNeue";
	font-weight: 700;
}
.white-back {
	background-color: #fff;
	padding: 0.2rem 0.42rem;
	border-radius: 0.3rem;
}
.calc-img {
	width: 2.08rem;
}
.slider-img {
	width: 100%;
}
