*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
}
body {
  min-width: 320px;
}
header {
  min-height: 46rem;
  position: relative;
  width: 100%;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.slide-1 {
  background-image: url(../img/headerbg_1.jpg);
  transition: 0.8s cubic-bezier(0.45, 0, 0.55, 1);
  box-shadow: inset 0 10rem 15rem black;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-2 {
  background-image: url(../img/headerbg_2.jpg);
  transition: 0.8s cubic-bezier(0.45, 0, 0.55, 1);
  box-shadow: inset 0 10rem 15rem black;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-3 {
  background-image: url(../img/headerbg_3.jpg);
  transition: 0.8s cubic-bezier(0.45, 0, 0.55, 1);
  box-shadow: inset 0 10rem 15rem black;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 98.4rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}
.logo {
  display: block;
  width: 28%;
  padding-top: 1.5rem;
  min-width: 150px;
}
.logo__img {
  width: 100%;
}
.top {
  position: absolute;
  top: 0;
  right: 0;
  width: 58%;
}
.top__nav {
  border-bottom: 1px solid #4b94b2;
  margin-top: 2.5rem;
}
.top__li {
  display: block;
  float: left;
  margin-right: 2.4rem;
}
.top__li:last-child {
  margin-right: 0;
}
.top__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.3rem;
  padding-bottom: 1.7rem;
  border-bottom: 5px solid rgba(190, 43, 43, 0);
}
.top__link:hover,
.top__link_active {
  padding-bottom: 1.7rem;
  border-color: #be2b2b;
}
.top__wrap {
  max-width: 58rem;
}
.top__burger {
  display: none;
}
.social {
  padding: 1rem 0;
}
.social__title {
  font-size: 3.4rem;
  line-height: 3.2rem;
  color: #ffffff;
  margin-right: 19rem;
}
.social__icons {
  float: right;
}
.social__li {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
}
.types {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2.5rem 2.1rem;
  border-radius: 0.9rem 0 0 0.9rem;
}
.types__li {
  display: inline-block;
  margin-right: 3.2rem;
  vertical-align: top;
}
.types__li:last-child {
  margin-right: 0;
}
.types__link {
  display: block;
  font-size: 1.8rem;
  line-height: 1.3rem;
  color: #429fc6;
  transition: all 0.2s ease-in-out;
}
.types__link:hover {
  color: #52a66c;
}
.info {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.9rem 0 0 0.9rem;
  margin-top: 1rem;
  padding: 2rem 2.1rem;
}
.info__subtitle {
  font-size: 2.8rem;
  line-height: 2.4rem;
}
.info__text {
  margin-top: 1rem;
  font-size: 12px;
  line-height: 1.5rem;
}
.info__button {
  margin-top: 1.9rem;
}
.text_light {
  color: #ffffff;
}
.btn {
  display: inline-block;
  vertical-align: top;
  max-width: 20rem;
  padding: 1.6rem 6rem 1.6rem 2.6rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.3rem;
  font-weight: bold;
  background: url(../img/clever.png) no-repeat 94% 50%, linear-gradient(to bottom, #477799, #1e5983);
  border-radius: 0.6rem;
  transition: background 0.3s ease 0s;
}
.btn:hover {
  background: url(../img/clever.png) no-repeat 94% 50%, linear-gradient(to bottom, #345872, #184769);
}
.flex-cont {
  display: flex;
  justify-content: center;
  margin: 0 -1.2rem;
  position: relative;
}
.main {
  padding: 2rem 0;
  color: #474747;
  font-size: 12px;
  line-height: 1.4rem;
  background: linear-gradient(to top, #ffffff 44%, #e0e7e2);
}
.main__subtitle {
  color: #1db14c;
  margin-bottom: 2.1rem;
}
.main__text {
  margin-top: 1.4rem;
}
.main__first {
  flex: 0 1 27%;
  padding: 0 1.2rem;
}
.main__second {
  flex: 0 1 49.5%;
  padding: 0 1.2rem;
}
.main__third {
  flex: 0 1 24.5%;
  padding: 0 1.2rem;
}
.main__form {
  margin-top: 2.5rem;
}
.main__form-input {
  height: 3.2rem;
  width: 100%;
  padding: 0 0.9rem;
  border: 0.1rem solid #cee0d4;
}
.main__form-textarea {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 16rem;
  padding: 0.9rem;
  border: 0.1rem solid #cee0d4;
}
.main__form-button {
  margin-top: 1.6rem;
}
.main__more-info {
  text-decoration: underline;
  color: #1c79a0;
  line-height: 1.4rem;
}
.form-style {
  display: block;
  margin-bottom: 0.6rem;
}
.word-free {
  font-weight: bold;
  color: #fff;
  padding: 0.6rem 1.1rem;
  background-color: #b82500;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.advice {
  margin-top: 1rem;
}
.advice__article {
  position: relative;
  margin-bottom: 0.7rem;
}
.advice__article:last-child {
  margin-bottom: 0;
}
.advice__text {
  position: absolute;
  left: 7.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.advice__subtitle {
  font-size: 2rem;
  line-height: 1.7rem;
  color: #575b53;
  margin-bottom: 0.9rem;
}
.advice__img {
  display: block;
  height: 64px;
  width: 63px;
  border-radius: 1rem;
  overflow: hidden;
}
.sponsors {
  background-color: #e6e6e6;
  padding: 1.4rem 0;
  border: 1px solid #c9d5cd;
}
.sponsors__img {
  text-align: center;
}
.sponsors__li {
  margin: 0 1.2rem;
  vertical-align: middle;
  display: inline-block;
}
.sponsors__link {
  display: block;
}
.nav-bottom {
  font-size: 12px;
  line-height: 1.6rem;
  background-color: #1c79a0;
  text-align: center;
  padding: 2.1rem 0;
}
.nav-bottom__li {
  display: inline-block;
  vertical-align: top;
}
.nav-bottom__link {
  position: relative;
  color: #dceee2;
  padding: 0 0.5rem;
}
.nav-bottom__link:after {
  content: "|";
  color: #dceee2;
  position: absolute;
  top: 0;
  left: -2px;
}
.nav-bottom__li:first-child .nav-bottom__link:after {
  display: none;
}
.footer-info {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #444544;
}
.footer-info__part {
  padding: 0 2.7rem;
}
.footer-info__part:last-child {
  padding-right: 0;
}
.footer-info__subtitle {
  font-size: 1.5rem;
  line-height: 1.3rem;
  color: #526973;
  margin-bottom: 1.1rem;
}
.footer-info__text {
  font-size: 12px;
  line-height: 1.4rem;
  color: #757575;
}
.footer-info__logo {
  flex: 0 1 19.79%;
}
.contacts-link {
  color: inherit;
}
.contacts-link:hover,
.contacts-link:focus {
  text-decoration: underline;
}
.footer-background {
  padding: 2.3rem 0 1.2rem 0;
  background-color: #343634;
}
.footer-license {
  flex: 0 1 19%;
}
.footer-serving {
  flex: 0 1 35.42%;
}
.footer-contacts {
  flex: 0 1 25.79%;
}
.flex-footer {
  justify-content: space-between;
}
.footer-rights {
  padding: 2.1rem 1.2rem 0 1.2rem;
}
@media screen and (max-width: 997px) {
  .top {
    width: 68%;
  }
  .top__li {
    margin-right: 1.2rem;
  }
  .top__li:last-child {
    margin-right: 0;
  }
  .social {
    padding: 1rem 1.5rem 1rem 0;
  }
  .social__title {
    font-size: 2.6rem;
    line-height: 3rem;
    margin-right: 17rem;
  }
  .info__subtitle {
    font-size: 2.1rem;
    line-height: 2rem;
  }
  .main__first {
    flex: 0 1 27%;
    padding: 0 1rem;
  }
  .main__second {
    flex: 0 1 47.5%;
    padding: 0 1rem;
  }
  .main__third {
    flex: 0 1 26.5%;
    padding: 0 1.2rem;
  }
  .btn {
    padding: 1.6rem 5rem 1.6rem 1.2rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .top {
    margin-top: 10rem;
    width: 100%;
  }
  .top__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 30px;
    right: 21px;
    z-index: 5;
  }
  .top__burger:before,
  .top__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .top__burger:before {
    top: 0;
  }
  .top__burger:after {
    bottom: 0;
  }
  .top__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .top__burger.active span {
    transform: scale(0);
  }
  .top__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .top__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .top__wrap {
    max-width: 100%;
  }
  .top__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-color: #343634;
    margin-top: 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }
  .top__nav.active {
    top: 0;
  }
  .top__li {
    float: none;
    margin: 1rem 0 0 0;
  }
  .top__link {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.7rem;
    border-bottom: none;
    padding: 1.7rem 0;
  }
  .top__link:hover,
  .top__link_active {
    border-color: none;
    padding: 1.7rem 0;
  }
  .types {
    border-radius: 0;
  }
  .social {
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
  }
  .social__title {
    font-size: 2.5rem;
    line-height: 2.3rem;
    color: #ffffff;
    margin-right: 19rem;
  }
  .info {
    padding: 1.4rem 2rem;
    border-radius: 0;
  }
  .info__button {
    margin-top: 1.5rem;
  }
  .flex-cont {
    flex-wrap: wrap;
  }
  .main__first {
    flex: 0 1 100%;
    padding: 0 1.2rem;
  }
  .main__second {
    flex: 0 1 55%;
    padding: 0 1.2rem;
    margin-top: 2rem;
  }
  .main__third {
    flex: 0 1 45%;
    padding: 0 1.2rem;
    margin-top: 2rem;
  }
  .advice__subtitle {
    font-size: 1.6rem;
    line-height: 1.5rem;
  }
  .footer-info__logo {
    flex: 0 1 50%;
    margin-bottom: 2rem;
  }
  .footer-license {
    flex: 0 1 50%;
    margin-bottom: 2rem;
  }
  .footer-serving {
    flex: 0 1 50%;
  }
  .footer-contacts {
    flex: 0 1 50%;
  }
}
@media screen and (max-width: 480px) {
  .social__title {
    font-size: 2.2rem;
    line-height: 1.8rem;
  }
  .top {
    position: static;
    margin-top: 1rem;
  }
  .types {
    padding: 2.5rem 2.1rem;
  }
  .types__li {
    margin-right: 1rem;
  }
  .types__li:last-child {
    margin-right: 0;
  }
  .types__link {
    font-size: 1.6rem;
    line-height: 1.3rem;
  }
  .main__first {
    flex: 0 1 100%;
    padding: 0 1.2rem;
  }
  .main__second {
    flex: 0 1 100%;
    padding: 0 1.2rem;
    margin-top: 2rem;
  }
  .main__third {
    flex: 0 1 100%;
    padding: 0 1.2rem;
    margin-top: 2rem;
  }
  .footer-info__logo {
    flex: 0 1 100%;
    margin-bottom: 2rem;
  }
  .footer-license {
    flex: 0 1 100%;
    padding: 0 1.2rem;
    margin-bottom: 2rem;
  }
  .footer-serving {
    flex: 0 1 100%;
    padding: 0 1.2rem;
    margin-bottom: 2rem;
  }
  .footer-contacts {
    flex: 0 1 100%;
    padding: 0 1.2rem;
  }
}
