@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  color: #070707;
  line-height: 124%;
  font-weight: 500;
  background-color: #fff;
}

body {
  position: relative;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 30;
  min-height: 90px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 17px 0;
  border-bottom: 1px solid #828282;
}

.header__link {
  position: relative;
  display: block;
  padding: 15px;
  color: #828282;
  font-weight: 700;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -17px;
  background: rgba(89, 88, 88, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__link:hover {
  color: #595858;
}

.header__link:hover::after {
  background: #595858;
}

.im {
  padding: 120px 0 80px 0;
}

.im__name {
  font-size: 2.63rem;
  font-weight: 700;
  line-height: 124%;
  text-transform: uppercase;
}

.im__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.im__foto {
  max-width: 400px;
}

.im__img {
  width: 100%;
  height: 100%;
}

.im__who {
  padding: 30px;
}

.im__text {
  margin-top: 20px;
}

.burger {
  display: none;
}

.about {
  padding: 100px 0;
  background-color: #f6f6f6;
}

.about__content {
  margin-top: 25px;
}

.subtitle {
  font-size: 1.8889rem;
  line-height: 124%;
  font-weight: 700;
  text-align: center;
}

.content__text {
  margin-top: 20px;
}

.content__img {
  display: block;
  margin: 15px auto 0 auto;
  width: 94px;
  height: 110px;
}

.content__elem {
  margin-top: 25px;
}

.content__text-item {
  padding-left: 20px;
  position: relative;
  background: url(../img/check.svg) no-repeat left 50%;
}

.content__text-item:not(:first-child) {
  margin-top: 10px;
}

.content__subtitle {
  text-align: center;
}

.education {
  padding: 100px 0;
}

.education__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px -15px 0 -15px;
}

.education__text {
  margin-top: 20px;
}

.education__certificate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(79, 76, 72, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.education__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 15px;
}

.education__item:hover .education__certificate {
  opacity: 1;
  visibility: visible;
}

.education__img {
  width: 100%;
  height: 100%;
}

.certificate-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 45px;
  padding: 5px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  color: #fff;
  background-color: #ff9428;
}

.certificate-link:hover {
  background-color: #df8122;
}

.portfolio {
  padding: 100px 0;
  background-color: #f6f6f6;
}

.portfolio__items {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__screen {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.portfolio__screen:hover {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

.portfolio__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 15px;
}

.portfolio__img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.portfolio__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__work:not(:first-child) {
  margin-top: 15px;
}

.portfolio__work:nth-child(odd) .portfolio__content {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.portfolio__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 45px;
  padding: 5px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  background-color: #828282;
  color: #fff;
  margin-top: 10px;
}

.portfolio__button:hover {
  background-color: #595858;
}

.footer__contacts {
  padding: 70px 0;
}

.footer__contacts > *:not(:first-child) {
  margin-top: 20px;
}

.footer__credits {
  background-color: #f6f6f6;
  padding: 25px 0;
}

.footer__credits-content {
  text-align: center;
}

.contacts__text {
  text-align: center;
}

.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.contacts__social a {
  padding-left: 10px;
  color: inherit;
}

.contacts__social a:hover {
  color: #595858;
}

@media screen and (max-width: 860px) {
  body.lock {
    overflow: hidden;
  }
  .menu__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(79, 76, 72, 0.7);
    width: 100%;
    height: 100vh;
    z-index: 35;
    display: none;
  }
  .menu__overlay.active {
    display: block;
  }
  .header__menu {
    position: absolute;
    top: 0;
    left: -100%;
    padding: 20px;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 70%;
    height: 100vh;
    z-index: 50;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: auto;
  }
  .header__menu.active {
    left: 0;
  }
  .header__item {
    width: 100%;
  }
  .header__link {
    display: block;
    padding-left: 0;
    width: 100%;
  }
  .header__link::after {
    bottom: 0;
  }
  .burger {
    display: inline-block;
    position: relative;
    float: right;
    top: 30px;
    right: 0;
    width: 30px;
    height: 24px;
    z-index: 100;
    cursor: pointer;
  }
  .burger::after, .burger::before,
  .burger span {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f8b41b;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger::after {
    top: 0;
  }
  .burger::before {
    bottom: 0;
  }
  .burger span {
    top: 11px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 11px;
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 11px;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .portfolio__work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .portfolio__work:nth-child(odd) .portfolio__content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .portfolio__content {
    padding: 15px 0;
  }
}

@media screen and (max-width: 740px) {
  .contacts__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__social:not(:first-child) {
    margin-top: 15px;
  }
}

@media screen and (max-width: 650px) {
  .education__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px -15px 0 -15px;
  }
  .education__item:not(:first-child) {
    margin-top: 15px;
  }
}

@media screen and (max-width: 575px) {
  .im__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .im__content br {
    display: none;
  }
  .im__who {
    padding: 30px 0;
  }
  .im__foto {
    max-width: 100%;
  }
  .header__link {
    padding: 15px 0;
  }
}
