@mixin button-style {
   border: none;
   min-height: 40px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 143%;
   font-weight: 700;
   margin: 10px 0;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
@mixin button-additional {
   color: $main-theme-color;
   border: 1px solid $main-theme-color;
   border-radius: 6px;
   background-color: #fff;
   &:hover {
      color: #fff;
      background-color: $main-theme-color;
   }
}
.shop-main {
   padding: 36px 0 0 0;
   &__product {
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
   }
   &__slider {
      flex: 0 1 50%;
      min-width: 0;
      display: flex;
      justify-content: space-between;
   }
   &__description {
      flex: 0 1 50%;
      padding-left: 26px;
   }
   &__subtitle {
      font-size: 15px;
      line-height: 107%;
      font-weight: 500;
      color: $additional-color;
   }
   &__card {
      background: $background-color-items;
      text-align: center;
      margin: 8px 0;
      transition: border 0.3s ease-in-out;
      border: 1px solid rgba(70, 163, 88, 0);
      height: 100px;
      &:hover {
         border: 1px solid rgba(70, 163, 88, 1);
      }
   }
   &__slider-img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
   }
   &__card-for {
      position: relative;
      background: $background-color-items;
      text-align: center;
      vertical-align: middle;
      z-index: 10;
   }
   &__img-for {
      width: 90%;
      height: 90%;
      object-fit: contain;
   }

   &__slider-nav {
      min-width: 0;
      height: 100%;
      flex: 0 1 17.5%;
      margin: -8px 0;
      & .slick-track {
         display: block;
      }
      & .slick-list {
         overflow-y: hidden;
      }
      & .slick-current {
         border-color: rgba(70, 163, 88, 1);
      }
   }
   &__slider-for {
      padding: 0 26px;
      text-align: center;
      min-width: 0;
      flex: 0 1 82.5%;
   }
   &__slider-search {
      position: absolute;
      top: 13px;
      right: 13px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 30;
   }
}
.img-magnifier-glass {
   position: absolute;
   border: 3px solid #000;
   border-radius: 50%;
   cursor: none;
   /*Установите размер стекла лупы:*/
   width: 100px;
   height: 100px;
}
.breadcrumbs {
   margin-left: -10px;
   &__item {
      position: relative;
      font-size: 15px;
      line-height: 107%;
      color: $additional-color;
      padding: 5px 10px;
      &:first-child {
         font-weight: 700;
      }
      &:not(:first-child)::before {
         position: absolute;
         content: "/";
         top: 6px;
         left: -5px;
      }
   }
}
.description {
   &__title {
      font-size: 28px;
      line-height: 57%;
      font-weight: 700;
      color: $additional-color;
   }

   &__price-grade {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 13px 0;
      margin-top: 8px;
      border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
   }

   &__short-description {
      margin-top: 15px;
   }

   &__info {
      margin-top: 14px;
      font-size: 15px;
      line-height: 107%;
   }

   &__share {
      margin-top: 8px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }
}
.price-grade {
   &__price {
      font-size: 22px;
      line-height: 73%;
      font-weight: 700;
      color: $main-theme-color;
   }
   &__grade {
      font-size: 15px;
      line-height: 107%;
      color: $additional-color;
   }

   &__stars-wrap {
      padding: 0 5.5px;
   }
   &__review {
      padding-left: 7px;
   }
}
.short-description {
   &__content {
      margin-top: 10px;
      line-height: 171%;
   }
}
.form-description {
   &__size-amount {
      margin-top: 24px;
   }
}
.size {
   &__checkbox {
      margin-top: 11px;
      display: flex;
   }
   &__check {
      margin-right: 10px;
      user-select: none;
   }

   &__check-input {
      display: none;
      &:checked + .size__check-label {
         border-color: $main-theme-color;
         font-size: 18px;
         font-weight: 700;
         color: $main-theme-color;
      }
   }
   &__check-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 1px solid #eaeaea;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
         border-color: $main-theme-color;
         font-size: 18px;
         font-weight: 700;
         color: $main-theme-color;
      }
   }
}

.amount {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 13px;
   & button:not(:last-child) {
      margin-right: 10px;
   }
   &__counter {
      display: inline-flex;
      align-items: center;
      margin-right: 26px;
   }

   &__counter-minus,
   &__counter-plus {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      font-size: 28px;
      line-height: 57%;
      color: #fff;
      width: 33px;
      height: 38px;
      border-radius: 29px;
      transition: all 0.3s ease-in-out;
      user-select: none;
      cursor: pointer;
      background: linear-gradient(180deg, #46a358 0%, rgba(70, 163, 88, 0.8) 100%);
      &:hover {
         background: linear-gradient(180deg, $main-theme-color-hover 0%, rgba(70, 163, 88, 1) 100%);
      }
   }
   &__counter-number {
      display: inline-flex;
      padding: 0 23px;
      width: 20px;
      justify-content: center;
      font-size: 20px;
      line-height: 50%;
      color: $additional-color;
      user-select: none;
   }
}
.size-amount {
   &__button-buy {
      @include button-style;
      padding: 5px 32px;
   }

   &__button-add {
      @include button-style;
      padding: 5px 20px;
      @include button-additional;
   }

   &__button-like {
      @include button-style;
      @include button-additional;
      width: 40px;
      & span {
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
}

.info {
   &__items {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   &__item {
      color: #acacac;
   }
}
.share {
   &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: 6px;
   }
   &__item {
      margin: 5px 0;
   }

   &__social-link {
      padding: 5px 10px;
      border-radius: 6px;
      border: 1px solid rgba(61, 61, 61, 0);
      transition: border 0.3s ease-in-out;
      &:hover {
         border: 1px solid rgba(61, 61, 61, 1);
      }
   }
}
.shop-main {
   &__tabs-content {
      margin-top: 82px;
   }
   &__tabs {
      display: flex;
      padding: 12px 0;
      cursor: pointer;
      border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
   }
   &__tabs-item {
      font-size: 17px;
      line-height: 94%;
      color: $additional-color;
      transition: all 0.2s ease-in-out;
      &:not(:first-child) {
         margin-left: 30px;
      }
      &.active,
      &:hover {
         position: relative;
         font-size: 17px;
         font-weight: 700;
         color: $main-theme-color;
         &::after {
            position: absolute;
            content: "";
            background-color: $main-theme-color;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: -12px;
         }
      }
   }
   &__content-items {
      margin-top: 18px;
   }
   &__content-item {
      display: none;
      &.active {
         display: block;
      }
   }
   &__content-text {
      &:not(:first-child) {
         margin-top: 18px;
      }
   }
   &__content-subtitle {
      display: block;
      line-height: 171%;
      font-weight: 700;
      color: $additional-color;
   }
}
.smile-nth {
   font-size: 60px;
   line-height: 120%;
   font-weight: 900;
   color: $main-theme-color;
   max-width: 500px;
   margin: 100px auto;
}

.releted-products {
   margin: 127px 0 200px 0;
   .card {
      max-width: 220px;
      margin: 10px 13px;
      display: flex;
      flex-direction: column;
      &__badge__link {
         width: 25px;
         height: 25px;
      }
      &__flower-name {
         flex: 1 1 auto;
      }
   }

   .slick-dots {
      bottom: -52px;
   }
   .slick-dots button {
      width: 12px;
      height: 12px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(70, 163, 88, 1);
   }
   .slick-active button {
      background: rgba(70, 163, 88, 1);
   }
   &__title {
      font-size: 17px;
      line-height: 94%;
      font-weight: 700;
      color: $main-theme-color;
      padding-bottom: 12px;
      border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
   }
   &__slider {
      margin-top: 34px;
      position: relative;
   }
}

@media screen and (max-width: 1024px) {
   .shop-main__description {
      padding-left: 10px;
   }
   .shop-main__slider-for {
      padding: 0 10px;
   }
   .releted-products {
      margin: 60px 0 100px 0;
   }
}
@media screen and (max-width: 767px) {
   .shop-main {
      &__product {
         flex-direction: column-reverse;
      }
      &__description {
         padding: 0;
         flex: 0 1 100%;
      }
      &__slider {
         margin-top: 15px;
         flex-direction: column;
         flex: 0 1 100%;
      }
      &__slider-for {
         padding: 15px 0;
         flex: 0 1 100%;
      }
      &__tabs-content {
         margin-top: 0;
      }
      &__card {
         margin: 0 10px;
      }
      &__slider-nav {
         flex: 0 1 100%;
         margin: 0 -10px 15px -10px;
      }
      .releted-products {
         margin: 30px 0 60px 0;
      }
      .releted-products .slick-dots {
         bottom: -30px;
      }
      .shop-main__slider-nav .slick-track {
         display: flex;
      }
   }
}
@media screen and (max-width: 424px) {
   .description__price-grade {
      flex-direction: column;
      align-items: flex-start;
   }
   .price-grade__grade {
      margin-top: 15px;
   }
   .smile-nth {
      font-size: 35px;
      margin: 20px auto;
   }
}
