@font-face {
    font-family: 'Cera Pro';
    src: local('../fonts/Cera Pro Regular'), local('../fonts/Cera-Pro-Regular'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: local('../fonts/Cera Pro Medium'), local('../fonts/Cera-Pro-Medium'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal; 
}
@font-face {
    font-family: 'Cera Pro';
    src: local('../fonts/Cera Pro Bold'), local('../fonts/Cera-Pro-Bold'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
 }
 @font-face {
    font-family: 'Cera Pro';
    src: local('../fonts/Cera Pro Black'), local('../fonts/Cera-Pro-Black'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
 }
$button-color:#46A358;
$button-color-hover:#3d8c4c; 
$main-text-color:#727272;
$additional-color:#3D3D3D; 

*,*:after,*:before{
	box-sizing:border-box;
}
html,body{
	font-family:'Cera Pro';	
	font-size: 14px;
	color:$main-text-color;
	font-weight:400;
	background-color: #fff;	
}
body{
	min-width: 320px;
	-webkit-tap-highlight-color:transparent;
	-webkit-text-size-adjust:none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing:antialiased;
}
.adminpanel__search-input {
	display: none;
}
.container{
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;	
}
.flex-wrap{
	display:flex;		
	align-items: center;
	justify-content: space-between;
}
.header{	
	padding-top:8px;		
	&-wrap{		
		border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
	}
	&__nav{
		padding-right:28px;
	}
	&__list{
		display: flex;
		align-items:center;
		flex-wrap: wrap;		
	}
	&__item{
		padding: 0 25px;
	}	
	&__link{
		position: relative;
		display: block;
		padding: 25px 0;		
		font-size: 16px;
		line-height: 125.7%;		
		color: $additional-color;
		&::after{
				position: absolute;
				content:" ";
				left: 0;
				top: 67px;				
				width: 100%;
				height: 3px;
				background-color: rgba(70, 163, 88, 0);
				transition: all 0.4s ease;
		}
		&-active{
			font-weight:700;
		}
		&-active::after, &:hover::after {						
			background-color: rgba(70, 163, 88, 1);			
		}		
	}
}
.adminpanel{
	display:flex;	
	align-items:center;		
	&__search-toggle{
		background-color:#fff;
		outline: none;
		border: none;
	}
	&__basket{
		position: relative;
	}	
}
.number-orders{
	position: absolute;	
	top:2px;
	right: -4px;
	display: flex;
	min-width:16px;
	padding: 0 2px;
	height:16px;
	border-radius:50%;
	font-size:10px;
	line-height:130%;
	font-weight:500;
	color:#fff;
	align-items:center;
	justify-content:center;
	text-align: center;
	background-color: $button-color;
	border:2px solid #FFFFFF;
}
.login-button{
	width: 100px;	
	padding: 8px 0 7px 41px;
	background: url(../img/logout.svg) no-repeat 18.8px 50%;
	font-size: 16px;
	line-height: 126%;
	font-weight:500;
}
.button{			
	background-color:$button-color;
	border-radius: 6px;
	color:#fff;
	transition: all 0.3s ease;
}
.button:hover{
	background-color:$button-color-hover;
}
.adminpanel > *:not(:first-child) {
	margin-left: 30px;
}
.slider{
	margin-top:12px;
	&__wrap{
		background-color:#FBFBFB;
		padding-left:40px;		
	}
	&__velcome {
		font-weight:500;
		line-height:114%;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
	&__title{
		font-size: 70px;
		line-height:100%;
		font-weight:900;
		color:$additional-color;
		text-transform:uppercase;
		margin-top: 7px;
	}
	&__text{
		margin-top:5px;
		line-height:171%;
	}
	&__button{
		display: block;
		font-size:16px;
		font-weight:700;
		line-height:125%;
		text-transform: uppercase;
		width:140px;		
		padding:11px 5px 9px 5px;
		text-align:center;
		margin-top:44px;
	}	
	&__content{
		flex: 0 1 46.41666%;
		padding: 68px 0 85px 0;
	}
	&__foto{
		position:relative;
		max-width:518px
	}
	&__big-img{
		width: 100%;		
	}
	&__top{
		position: relative;
	}	
}
.slick-dots{	
	text-align:center;
	width: 100%;
	position: absolute;
	z-index: 10;
	bottom:17px;
	left:0;
	line-height:0;
}
.slick-dots li{
	display: inline-block;
	vertical-align: top;
	margin: 0 4px 0 4px;	
}
.slick-dots button{
	display:block;
	font-size:0;
	width:8px;
	height:8px;
	border-radius:50%;
	background:rgba(70, 163, 88, 0.3);
	border:none;
	padding:0; 
	cursor: pointer;
}
.slick-active button{
	background:rgba(70, 163, 88, 1);
}
.color-word {
	color:$button-color;
}
.slider__item[data-slick-index="1"] .color-word{
	color:#6254d9;	
}
.slider__item[data-slick-index="1"] .button{
	background-color:#6254d9;
	&:hover{
		background-color:#4b40a9;
	}
}
.slider__item[data-slick-index="2"] .color-word{
	color:#ffbc00;	
}
.slider__item[data-slick-index="2"] .button{
	background-color:#ffbc00;
	&:hover{
		background-color:#c9930e;
	}
}
.slick-list{
	overflow:hidden;
}
.slick-track{
	display:flex;
}
.conditions{
	&__title{
		font-size: 18px;
		line-height: 88.88888%;
		color:$additional-color;
	}
	&__list{
		padding: 0 0 0 12px;
		margin-top:7px;
	}
	&__link{
		padding:5px 0;
		&:hover{
			color:$button-color;
		}
	}
	&__item{
		margin:10px 0;
	}
	&-position{
		margin-top:46px;
	}
}
/*--форма расчета--*/
.price-range{
	margin-top:36px;
}

.main{
	margin:46px 0 60px 0;	
	&__wrap{
		display:flex;
	}	
	&__all-plants__item:not(:first-child){
		margin-left:40px;
	}
	&__sorting{
		color:$additional-color;		
		font-size:15px;
		line-height:106%;
	}
	&__cards-row{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
		margin: 0 -15px;						
		}	
	&__sorting-text{
		display: inline-block;		
	}
	&__sorting-item {
		display:inline-block;
		position: relative;				
	}
	&-sorting__link, .sorting__link{
		display: block;
		width:100%;				
	}
	&__sidebar{
		padding:14px 24px 19px 18px;
		background-color:#FBFBFB;
	}	
}

.sorting__link{
	padding: 3px 0;
}
/*--общий стиль для темного пункта с размером 15px--*/
.dark-text-style{
	color:$additional-color;		
	font-size:15px;
	line-height:106%;
}
.main-sorting__link:hover, .sorting__link:hover{
	color: $button-color;
	cursor: pointer;
}
.sorting__list{
	display:none;	
	position: absolute;
	width: 100%;	
	top:-80px;
	left:0px;	
	background-color:#fff;
	box-shadow: 0 5px 15px 0 rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 5%);
	padding: 3px;
	z-index: 10;	
}
.show-sorting{
	display:block;
}
.arrow-sorting-move{
	transform: rotate(180deg);
}
.all-plants{
	&__list{
		display:flex;
		flex-wrap:wrap;
	}
	&__item:not(:first-child){
			margin-left:40px;
		}
	&__link{
		position: relative;		
		&::after{
			position: absolute;
			content: " ";
			width:100%;
			height:2px;
			left:0;
			bottom:-7px;
			background-color:rgba(70, 163, 88, 0);
		}		
		&:hover {
			color:$button-color;
			&::after{
			background-color:rgba(70, 163, 88, 1);
			}					
		}
	}
}
/*--общий стиль для зеленого жирного активного пункта--*/
.link-active{
			font-weight:700;
			color:$button-color;
			&::after{
				background-color:rgba(70, 163, 88, 1);
			}
}
.card {			
	padding: 0 15px;
	margin: 35px 0;
	flex:0 1 33.33333334%;		
	&__foto{
		position: relative;			
		padding: 0 0 108.5% 0;
		overflow:hidden;				
	}
	&__img{	
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
		height:100%;	
		width: 100%;
		
	}
	&__flower-name{
		font-size:16px;
		line-height:100%;
		color:$additional-color;
		margin-top:12px;
	}
	&__flower-price{
		display: block;
		font-size:18px;
		line-height:88.8888%;
		font-weight:700;
		margin-top:6px;
	}
}
.main__sidebar{
	flex: 0 1 25.83333%;
}
.main__page{
	flex: 0 1 74.16666%;
}













