$main-color-text: #282728;
$main-color-hover: #ff544f;
$main-color-theme: #ff544f;
@mixin fl {
	display: flex;
	align-items: center;
	justify-content: center;
}
@font-face {
	font-family: "UniNeue";
	src: url("../fonts/UniNeueBold.eot");
	src: local("☺"), url("../fonts/UniNeueBold.woff") format("woff"), url("../fonts/UniNeueBold.ttf") format("truetype"),
		url("../fonts/UniNeueBold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "UniNeue";
	src: url("../fonts/UniNeueRegular.eot");
	src: local("☺"), url("../fonts/UniNeueRegular.woff") format("woff"),
		url("../fonts/UniNeueRegular.ttf") format("truetype"), url("../fonts/UniNeueRegular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "UniNeueBook";
	src: url("../fonts/UniNeueBook.eot");
	src: local("☺"), url("../fonts/UniNeueBook.woff") format("woff"), url("../fonts/UniNeueBook.ttf") format("truetype"),
		url("../fonts/UniNeueBook.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "UniNeue";
	src: url("../fonts/UniNeueHeavy.eot");
	src: local("☺"), url("../fonts/UniNeueHeavy.woff") format("woff"),
		url("../fonts/UniNeueHeavy.ttf") format("truetype"), url("../fonts/UniNeueHeavy.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
html {
	font-size: 1vw;
}
body {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: "UniNeue", sans-serif;
	line-height: 120%;
	font-weight: 400;
	color: $main-color-text;
}
.container {
	max-width: 83.3333rem;
	padding: 0 0.78rem;
	margin: 0 auto;
}
.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-weight: 700;
	border-radius: 0.42rem;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 1.7rem;
		height: 100%;
		background-color: rgba(#fff, 0.7);
		animation: light-blick 2s infinite;
	}
}
@keyframes light-blick {
	from {
		transform: translate(-4rem) skewX(-45deg);
	}
	to {
		transform: translate(25rem) skewX(-45deg);
	}
}
.header {
	position: relative;
	background: url(../img/bg.jpg) no-repeat center;
	background-size: cover;
	padding: 2rem 0 5.31rem 0;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& > * {
			margin: 0.6rem 0;
		}
	}
	&__top-slogan {
		width: 16.92rem;
		font-size: 0.92rem;
		padding-left: 1.82rem;
	}
	&__where-wrap {
		transition: color 0.3s ease-in-out;
		cursor: pointer;
		&:hover {
			color: $main-color-hover;
		}
		&:hover .header__top-map {
			transform: scale(1.2);
		}
	}
	&__top-where {
		@include fl;
	}
	&__top-map {
		width: 3.96rem;
		height: auto;
		transition: all 0.3s ease-in-out;
	}
	&__top-address {
		font-size: 0.8333rem;
		line-height: 130%;
		padding-left: 1.04rem;
	}
	&__address-link {
		display: block;
		color: $main-color-hover;
		text-decoration: underline;
	}
	&__top-consultation {
		font-size: 0.8333rem;
		padding: 1.2rem 1.7rem;
		background-color: #313d4b;
		&:hover {
			box-shadow: 0px 0px 25px #313d4b;
		}
	}
	&__top-tel {
		@include fl;
		&:hover .header__top-number {
			color: $main-color-hover;
		}
	}
	&__top-number {
		font-size: 1.15rem;
		color: inherit;
		transition: color 0.2s ease-in-out;
		padding-left: 0.4rem;
	}
	&__social {
		@include fl;
		margin-top: 0.52rem;
	}
	&__social-item {
		&:not(:first-child) {
			margin-left: 0.52rem;
		}
	}
	&__social-link {
		@include fl;
		width: 2.6rem;
		height: 2.6rem;
		border-radius: 50%;
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: scale(1.2);
		}
	}
	.vb-bg {
		background-color: #7460f3;
	}
	.tg-bg {
		background-color: #00a2f2;
	}
	.wh-bg {
		background-color: #25d266;
	}
	&__nav {
		margin: 1.9rem -0.78rem 0 -0.78rem;
	}

	&__nav-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav-link {
		font-size: 0.8333rem;
		color: inherit;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0.6rem 0.78rem;
		letter-spacing: 0.05rem;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: $main-color-hover;
		}
	}

	&__content {
		margin-top: 4.5rem;
		width: 45.3rem;
	}

	&__title {
		font-size: 3.125rem;
		line-height: 113%;
		font-family: "UniNeueBook", sans-serif;
		font-weight: 300;
	}

	&__content-wrap {
		display: flex;
		justify-content: space-between;
		margin-top: 2.9rem;
	}

	&__content-advantage {
		display: flex;
		align-items: flex-start;
		position: relative;
		padding: 0.89rem 0 0.89rem 1.5rem;
		&:not(:last-child) {
			padding-right: 2.5rem;
		}
		&:nth-child(1) {
			flex: 0 1 19.1rem;
		}
		&:nth-child(2) {
			flex: 0 1 14.43rem;
		}
		&:nth-child(3) {
			flex: 0 1 11.77rem;
		}
		&::before {
			content: "";
			position: absolute;
			width: 1.5rem;
			height: 0.3rem;
			left: 0;
			top: 1rem;
			transform: rotate(-45deg);
			background-color: #fe5851;
		}
	}

	&__content-years {
		font-size: 3.75rem;
		line-height: 3.2rem;
	}

	&__content-text {
		font-family: "UniNeueBook", sans-serif;
		font-weight: 300;
		font-size: 1.04rem;
	}

	&__content-tools {
		display: flex;
		justify-content: space-between;
		margin-top: 1.8rem;
	}

	&__calc {
		@include fl;
		flex-direction: column;
	}

	&__calc-subtitle {
		font-size: 0.94rem;
		line-height: 156%;
	}

	&__calc-btn {
		margin-top: 1.25rem;
		background: linear-gradient(to bottom, rgba(254, 116, 79, 1) 0%, rgba(254, 80, 79, 1) 99%);
		padding: 1.56rem 2.86rem 1.56rem 2.34rem;
		font-size: 0.89rem;
		line-height: 140%;
		text-transform: uppercase;
		&:hover {
			box-shadow: 0px 10px 25px $main-color-hover;
		}
	}

	&__calc-text {
		padding-left: 0.78rem;
		text-align: start;
	}

	&__content-slider {
		width: 20rem;
		padding-top: 2.4rem;
	}

	&__slider-subtitle {
		text-align: center;
		font-size: 0.885rem;
		font-weight: 700;
	}
	//Настройка Slick-slider
	&__slider {
		min-width: 0;
		position: relative;
		padding: 0 1.3rem;
		margin-top: 1.04rem;
		& .slick-arrow {
			position: absolute;
			top: 35%;
			z-index: 10;
			font-size: 0;
			width: 0.85rem;
			height: 1.7rem;
			border: none;
			cursor: pointer;

			&.slick-prev {
				left: 0;
				background: url(../img/leftarrow.png) 0% 50% / contain no-repeat;
			}
			&.slick-next {
				right: 0;
				background: url(../img/rightarrow.png) 100% 50% / contain no-repeat;
			}
		}
	}

	.slick-track {
		display: flex;
	}
	.slick-list {
		overflow: hidden;
	}

	&__slider-item {
		width: 4.17rem;
		padding: 0 0.625rem;
		cursor: pointer;
	}
}
.my-name__is {
	position: absolute;
	bottom: 0;
	right: 8rem;
	width: 30.7rem;
}
.best-worker {
	width: 100%;
}
.logo {
	width: 9.74rem;
	&-content {
		display: flex;
	}
}
.logo-img {
	width: 100%;
}
.heavy-text {
	font-weight: 900;
}
.map-img {
	width: 100%;
	border-radius: 50%;
}
.social-img {
	width: 1rem;
}
.tel-img {
	width: 0.8333rem;
}
.bold-text {
	font-family: "UniNeue";
	font-weight: 700;
}
.white-back {
	background-color: #fff;
	padding: 0.2rem 0.42rem;
	border-radius: 0.3rem;
}
.calc-img {
	width: 2.08rem;
}
.slider-img {
	width: 100%;
}
.lock {
	overflow: hidden;
}
.map-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 70;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	&.open {
		visibility: visible;
		opacity: 1;
	}
	&__main {
		position: relative;
		min-height: 100%;
		align-items: center;
		justify-content: center;
		&.open {
			display: flex;
		}
	}
	&__content {
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease-in-out;
		transform: perspective(600px) translate(0, -100%) rotateX(45deg);
		&.open {
			transform: perspective(600px) translate(0, 0) rotateX(0deg);
			visibility: visible;
			opacity: 1;
		}
	}
}
.close-popup {
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 30px;
	height: 20px;
	cursor: pointer;
	z-index: 80;
	transition: background-color 0.3s ease-in-out;
	&:hover::after,
	&:hover::before {
		background-color: $main-color-hover;
	}
	&::after,
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 4px;
		background-color: #fff;
	}
	&::after {
		bottom: 8px;
		transform: rotate(-45deg);
	}
	&::before {
		top: 8px;
		transform: rotate(45deg);
	}
}
/*
.cert-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.8);
	&__body {
		@include fl;
		min-height: 100vh;
		padding: 2rem 1rem;
	}
	&__content {
		max-width: 90rem;
	}
	&__img {
		width: 100%;
		height: 100%;
	}
}
*/
@media screen and (max-width: 992px) {
	html {
		font-size: 14px;
	}
	.header {
		position: relative;
		.logo-content {
			flex: 0 1 50%;
		}
		&__where-wrap {
			flex: 0 1 45%;
		}
		&__top-consultation {
			flex: 0 1 50%;
		}
		&__top {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		&__top-contacts {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			flex: 0 1 50%;
		}
		&__top-tel {
			padding-left: 1rem;
		}
		&__social {
			margin-top: 0;
		}
		&__nav {
			opacity: 0;
			visibility: hidden;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			z-index: 30;
			margin: 0;
			background-color: rgba(0, 0, 0, 0.8);
			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
		&__nav-wrap {
			width: 70%;
			height: 100%;
			background-color: $main-color-theme;
			transition: all 0.4s ease-in-out;
			transform: translate(-100%, 0);
			&.active {
				transform: translate(0, 0);
			}
		}
		&__nav-list {
			padding: 3rem 0.5rem;
			flex-direction: column;
			align-items: unset;
		}
		&__nav-item {
			padding: 1.2rem;
		}
		&__nav-link {
			padding: 2rem 1rem;
			font-size: 1.1rem;
			color: #fff;
			&:hover {
				color: rgba(0, 0, 0, 0.4);
			}
		}
	}
	.burger {
		position: absolute;
		top: 44px;
		right: 1rem;
		display: block;
		width: 30px;
		height: 20px;
		z-index: 40;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		span {
			background-color: $main-color-theme;
			position: absolute;
			width: 100%;
			height: 3px;
			left: 0;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
		&::after,
		&::before {
			content: "";
			position: absolute;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: $main-color-theme;
			transition: all 0.3s ease-in-out;
		}
		&.active:hover::after,
		&.active:hover::before {
			background-color: #fff;
			box-shadow: 0px 0px 40px $main-color-hover;
		}
		&::after {
			bottom: 0;
		}
		&::before {
			top: 0;
		}
		&.active span {
			transform: scale(0);
		}
		&.active::before {
			transform: rotate(45deg);
			top: 8px;
		}
		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
	}
	.my-name__is {
		right: 0rem;
		width: 30%;
	}
	.best-worker {
		width: 100%;
	}
}
@media screen and (max-width: 925px) {
	.header {
		&__content {
			width: 100%;
		}
		&__content-wrap {
			justify-content: flex-start;
		}
		&__content-tools {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	.my-name__is {
		width: 20rem;
		right: 1rem;
	}
}
@media screen and (max-width: 710px) {
	.header {
		&__where-wrap {
			flex: 0 1 50%;
		}
		&__top-contacts {
			justify-content: space-around;
			flex: 0 1 100%;
		}
	}
}
@media screen and (max-width: 600px) {
	.my-name__is {
		display: none;
	}
	.header {
		&__content-tools {
			margin-top: 1.2rem;
			flex-direction: column-reverse;
			align-items: center;
		}
		&__title {
			font-size: 2.5rem;
		}
		&__calc {
			margin-top: 1rem;
			width: 100%;
		}
		&__calc-subtitle br {
			display: none;
		}
		&__calc-btn {
			width: inherit;
		}
		&__content-slider {
			width: 80%;
		}
		&__content-wrap {
			flex-direction: column;
		}
		&__content-advantage {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				flex: 0 1 auto;
			}
		}
	}
}

@media screen and (max-width: 424px) {
	.logo-content {
		flex-direction: column;
	}
	.header {
		&__top-slogan {
			padding: 0.5rem 0 0 0;
		}
		&__top-consultation {
			flex: 0 1 100%;
		}
		&__where-wrap {
			flex: 0 1 100%;
		}
		&__top-address br {
			display: none;
		}
		&__calc-btn {
			padding: 1.5rem;
		}
	}
}
